numpy>=1.25
pandas>=2.0
pyarrow>=12.0
pyvista>=0.40
vtk>=9.4
nest_asyncio
openpyxl
trame
trame-vuetify
trame-vtk

#jupyterlab
#ipywidgets
#pythreejs
#panel>=0.14
#trame_jupyter_extension  
#jupyter-server-proxy  
